
.block-list {
    position: relative;
    margin: 0;
    padding: 0;
    list-style-type: none;
    column-count: 2;
    column-gap: 30px;
    font-size: 0.85em;

    &__item {
        display: table;
        padding: 15px 0;
        break-inside: avoid;
    }

    &__block {
        display: table-cell;
        vertical-align: middle;
        padding-left: 10px;

        &:first-child {
            padding-left: 0;
        }
    }

    &__title {
        
    }

    &__detail {
        color: #777777;
    }

    &--cols-3 {
        column-count: 3;
    }

    @media (max-width: $break-md) {

        &,
        &--col-3 {
            column-count: 2;
        }
    }

    @media (max-width: $break-xs) {
        column-count: 1;
        font-size: 1em;
    }
}
