
.luxembourg {
    display: block;
    line-height: 0;
    width: 480px;
    height: 710px;

    // country shape from icon font
    &:before {
        @include icon('j');
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 680px;
        color: #dddddd;
    }

    &--in-left-row {
        position: absolute;
        right: 50px;
        top: 50%;
        transform: translate(0, -50%);
    }

    &__eppeldorf {
        top: 46%;
        left: 62.5%;
    }

    &__luxembourg {
        top: 80%;
        left: 50%;
    }

    &__diekirch {
        top: 43%;
        left: 52%;
    }
}
