
.photo-gallery {

    &__photo {
        display: block;
        margin: 0 0 24px 0;
        line-height: 0;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__image {

    }
}
