
.site-header {
    $block: &;
    position: relative;
    background-color: $color-shaded;
    text-align: center;
    overflow: hidden;
    min-height: $nav-height + $nav-padding * 2;

    &__nav {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: $nav-padding 0 0 0;
    }

    &__inner {
        position: relative;
        padding: ($nav-padding + $nav-height) 0 0 0;
        overflow: hidden;
    }

    &__scrollable {
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -75px;
        width: 150px;
        height: $overlay-margin * 2 + 40px;

        &:before,
        &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 40px;
            height: 4px;
            background: #ffffff;
            transform: translate(1px, -$overlay-margin) translate(-100%, 0) rotate(45deg);
            transform-origin: 100% 50%;
        }

        &:after {
            transform: translate(-2px, -$overlay-margin) translate(-100%, 0) rotate(135deg);
        }
    }

    &--hero {
        height: 100%;

        #{$block}__inner {
            height: 100%;
        }
    }

    &--white {
        background-color: #ffffff;
        color: $color-text;

        &#{$block}__scrollable:before,
        &#{$block}__scrollable:after {
            background: $color-text;
        }
    }

    &--green {
        background-color: $color-ci-green;
        border-color: #ffffff;
        color: #ffffff;
    }

    &--gray {
        background-color: $color-ci-gray;
        color: #ffffff;

        &#{$block}__scrollable:before,
        &#{$block}__scrollable:after {
            background: #ffffff;
        }
    }

    &--spaghettisfest {
        background-color: $color-ci-gray;
        border-color: $color-ci-red;
        color: $color-ci-red;

        &#{$block}__scrollable:before,
        &#{$block}__scrollable:after {
            background: $color-ci-red;
        }
    }

    &--nav-follows {

        > #{$block}__nav {
            top: auto;
            bottom: 0;
            padding: 0 0 $nav-padding 0;
        }

        > #{$block}__inner {
            padding: 0 0 ($nav-padding + $nav-height) 0;
        }
    }

    @media (max-width: $break-xs) {
        display: flex;
        flex-direction: column;

        &__nav,
        &--nav-follows > #{$block}__nav {
            position: static;
            top: auto;
            right: auto;
            bottom: auto;
            left: auto;
            padding: 0;
        }

        &__inner,
        &--nav-follows > #{$block}__inner {
            height: auto;
            flex-grow: 1;
            padding: 0;
        }

        &--hero {
            height: auto;

            #{$block}__inner {
                height: 400px;
            }
        }

        &__scrollable {
            display: none;
        }
    }
}
