
$color-ci-green: #69b043;
$color-ci-red: #d63a3a; // original #d7302f
$color-ci-gray: #181818; // original #1a1b1c
$color-ci-pink: #d10074;
$color-facebook: #3b5998;
$color-twitter: #55acee;
$color-shaded: #f7f7f7;
$color-text: #353535;
$color-gray-dark: #353535;

$nav-height: 60px;
$nav-padding: 30px;

$overlay-margin: 30px;
$overlay-control-size: 40px;
$overlay-control-padding: 20px;

$break-xs: 768px;
$break-sm: 992px;
$break-md: 1200px;

$slide-in-horizontal-distance: 50px;
$slide-in-vertical-distance: 35px;

$easing-cat: cubic-bezier(0.175, 0.535, 0.285, 1);
